* {
    box-sizing: border-box;
}

/*From large Desktop*/

 @media (min-width: 1800px) {

	.first.block .plain,
	.third.block .colored:nth-child(2),
	.third.block .colored:nth-child(3),
	.fourth.block .colored:nth-child(1),
	.fourth.block .colored:nth-child(2) {
	    width: 25%;
	    display: block;
	    float: left;
	 }

	 .second.block .colored,
	 .third.block .colored:first-child {
	    width: 50%;
	    display: block;
	    float: left;
	}

	.fifth.block .colored {
		width: 20%;
	    display: block;
	    float: left;
	}

}

/*From medium desktop to large desktop*/

 @media ( min-width: 1200px) and (max-width: 1799px) {
	.first.block .plain,
	.second.block .colored,
	.third.block .colored:first-child,
	.third.block .colored:nth-child(2) {
	     	width: 50%;
	     	display: block;
	     	float: left;
	}

	.third.block .colored:nth-child(3) {
			width: 100%;
	     	display: block;
	     	float: left;
	}

	.fourth.block .colored:nth-child(2n+1) {
			width: 35%;
	     	display: block;
	     	float: left;
	}

	.fourth.block .colored:nth-child(2) {
			width: 30%;
	     	display: block;
	     	float: left;
	}

	.fifth.block {
		text-align: center;
	}

	.fifth.block .colored  {
			width: 33%;
			margin-right: -5px;
	     	display: inline-block;  	
	}

}

/*From Tablet Landscape to medium desktop*/

@media ( min-width: 960px) and (max-width: 1199px) {
	.first.block .plain,
	.second.block .colored,
	.fifth.block .colored:not(:nth-child(5)) {
	     	width: 50%;
	     	display: block;
	     	float: left;
	}

	.third.block .colored {
			width: 33%;
	     	display: block;
	     	float: left;
	}

	.fourth.block .colored:nth-child(2n+1) {
			width: 35%;
	     	display: block;
	     	float: left;
	}

	.fourth.block .colored:nth-child(2) {
			width: 30%;
	     	display: block;
	     	float: left;
	}

	.fifth.block .colored:nth-child(5) {
			width: 100%;
			display: block; 
			clear: both;	
	}

}

/*From Tablet Portrait to Tablet Landscape*/

@media ( min-width: 768px) and (max-width: 959px) {
	.first.block .plain,
	.second.block .colored,
	.fourth.block .colored:nth-child(1),
	.fourth.block .colored:nth-child(2),
	.fifth.block .colored:not(:nth-child(5)) {
	     	width: 50%;
	     	display: block;
	     	float: left;
	 }
	.fifth.block .colored:nth-child(5) {
			width: 100%;
			display: block; 
			clear: both;
	}

}


/*From Mobile to Tablet Portrait*/
@media  (min-width: 320px) and (max-width: 767px) {

	.first.block .plain.colored,
	.second.block .colored {
	     	width: 50%;
	     	display: block;
	     	float: left;  	
	 }

}